body { padding-top: 51px; }
.slider {
    background: #27324e;
}
.navbar-default {
    background-color: #fff;
}
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}

.nextStep {
    background: #4b515e;
    color: #fff;
    padding-top: 75px;
    padding-bottom: 75px;
}

.stats {
    background: url(../images/Sky.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
}
.post {
    background: #ffffff40;
    padding: 15px;
    margin-right: -2px;
    border-radius: 10px;
    color: #313131;
    font-size: 15px;
}

.categories-left {
    background: url(../images/BingWallpaper.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.category {
    background: #d5d5d538;
    padding-top: 50px;
    padding-bottom:100px;
}

.categories_sub1 {
    border-bottom: 1px solid #0000000a;
    text-align: right;
    padding:30px 10px;
}
.categories-right {
    background: #fff;
    box-shadow: 1px 1px 1px #00000038;
}

.border_right {
    border-right: 1px solid #0000000a;
}
.hr_rule{
    border-top: 2px solid #fa7474;
    width: 10%;
}
.pplSay {
    padding: 100px 0px;
}
.contact_us {
    box-shadow: 1px 1px 2px #0003;
    padding: 20px;
}

.footer {
    background: #000;
    padding: 20px 0px;
}
.footer h2{
    color: #c10000;
}
.footer p{
    color:#ffffff85;
    font-size: 15px;
}
.border_right_white{
    border-right: 1px solid #ffffff47;
}
